#formNewTask input{
    margin-top: 10px;
    width: 70%;
    height: 40px;
    padding: 2px;
    font-size: 25px;
}

#formNewTask textarea{
    margin-top: 10px;
    width: 70%;
    height: 100px;
    padding: 2px;
    resize: none;
}

#formNewTask button{
    margin-top: 10px;
}

#editTask input{
    width: 100%;
    height: 30px;
    padding: 5px;
    margin-bottom: 7px;
}

#editTask textarea{
    width: 100%;
    padding: 5px;
    margin-bottom: 7px;
}

#btnEditTaskConfirm{
    width: 100% !important;
}