@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Inconsolata', monospace;
}

body{
    background-color: lightblue;
}

#contenedor{
    height: 50em;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content:flex-start;
    
    
}

header{
    background-color: rgb(138, 215, 248);
    height: 130px;
    width: 100%;
    padding: 40px;
    box-shadow: 1px 1px 9px 1px rgb(86, 86, 86);
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#menu{
    height: 50em;
    width: 20%;
    background-color: rgb(138, 215, 248);

    text-align: center;

    padding-top: 40px;


}

#formNewTask input{
    margin-top: 10px;
    width: 70%;
    height: 40px;
    padding: 2px;
    font-size: 25px;
}

#formNewTask textarea{
    margin-top: 10px;
    width: 70%;
    height: 100px;
    padding: 2px;
    resize: none;
}

#formNewTask button{
    margin-top: 10px;
}

button{
    height: 60px;
    width: 120px;
    width: 70%;
    font-size: 20px !important;
}

#list{
    height: 50em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px;
    
    
}

#btnAddTaskConfirm{
    background-color: rgb(220, 255, 220);
}

.task{
    width: 90%;
    height: 100px;
    background-color: rgb(173, 173, 173);
    border-radius: 50px;
}